.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */
.add-to-cart img{
  height: 100px;
  width: 100px;
  position: absolute;
  right: 1%;
  top: 1%;

}
.cart-wrapper{
  height: 170px;
  width: 201px;
  padding: 10px;
  border: 2px solid darkseagreen;
  margin-left: 1%;
}
.img-wrapper img{
  height: 100px;
}
.btn-wrapper button{
  background: burlywood;
  padding: 4px;
  color: black;
  margin-top: 8px;
  border-radius: 5px;
}
/*  */
